<nav class="navbar navbar-default footer">
    <p>&nbsp;</p>
    <div class="margin_10">
        <div class="col-lg-3">
            <p><a href="#" class="btn btn-default"><b>طراحی سایت </b></a>  داینامیک</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> شرکتی</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> شخصی</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> ثابت</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> واکنش گرا</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> تبلیغاتی</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> هتل</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> املاک</p>
        </div>

        <div class="col-lg-3">
                        <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> صنعتی</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a>  سفارشی</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> عکاسی</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> آموزشی</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> مدارس</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> بازی آنلاین</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> مراکز تجاری</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> رستوران</p>
            <p><b></b></p>
        </div>
        <div class="col-lg-3">
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> مجله اینترنتی</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> بانوان</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> ارزان</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> هنری</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> موزیک</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> انتشارات</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> خودرو</p>
            <p><a href="#" class="btn btn-default"><b>طراحی سایت</b></a> علمی</p>
            <p><b></b></p>
        </div>

        <div class="col-lg-3">
            <p><b>شماره های تماس</b></p>
            <p>09373298343 - 09118475471</p>
            <p><b>تمامی حقوق این سایت محفوظ و متعلق به گروه طراحی سایت افق فردا می باشد</b></p>
            <p>طبق ماده 12 فصل سوم قانون جرائم رایانه هرگونه کپی برداری ممنوع بوده و پیگرد قانونی دارد .</p>
                <p>&nbsp;</p>
    <h4>با ما در ارتباط باشید !!!</h4>
    <hr style="height: 5px">
    <a href="#" rel="nofollow" ><img src="bundles/public/img/social/Aparat-icon.png"></a>
    <a href="#" rel="nofollow"><img src="bundles/public/img/social/Google-plus-icon.png"></a>
    <a href="#" rel="nofollow"><img src="bundles/public/img/social/Email-icon.png"></a>
    <a href="#" rel="nofollow"><img src="bundles/public/img/social/Facebook-icon.png"></a>
    <a href="#" rel="nofollow"><img src="bundles/public/img/social/Instagram-icon.png"></a>
    <a href="#" rel="nofollow"><img src="bundles/public/img/social/Twitter-icon.png"></a>
        </div>
    </div>
</nav>

