<section class="sample" id="sample">
    <p>&nbsp;</p>
    <h1>چند نمونه کار</h1>

    <!-- page content -->
    <div class="" role="main">
        <div class="clearfix"></div>
        <div class="">

            <div class="row">
                <div class="col-md-12">

                    <div class="x_panel">
                        <div class="x_content">

                            <div class="row">
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;" src="bundles/public/img/cabinet.jpg" alt="image" />
                                            <div class="mask">
                                                <p>کابینت سازی خدایی</p>
                                                <div class="tools tools-bottom">
                                                    <a href="http://cabinetkhodaee.ir" target="blank"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p><strong><a href="http://cabinetkhodaee.ir" target="blank">کابینت سازی خدایی</a></strong></p>
                                            <p>طراحی شده توسط گروه افق فردا</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;" src="bundles/public/img/p30storm.jpg" alt="image" />
                                            <div class="mask">
                                                <p>پرتال جامع کامپیوتر</p>
                                                <div class="tools tools-bottom">
                                                    <a href="http://p30storm.ir" target="blank"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p><strong><a href="http://p30storm.ir" target="blank">پرتال جامع کامپیوتر</a></strong></p>
                                            <p>طراحی شده توسط گروه افق فردا</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;" src="bundles/public/img/kashi.jpg" alt="image" />
                                            <div class="mask">
                                                <p>شرکت کاشی کاران شرق</p>
                                                <div class="tools tools-bottom">
                                                    <a href="http://sangkary.ir" target="blank"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p><strong><a href="http://sangkary.ir" target="blank">شرکت کاشی کاران شرق</a></strong></p>
                                            <p>طراحی شده توسط گروه افق فردا</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;" src="bundles/public/img/kompress tohid.jpg" alt="image" />
                                            <div class="mask">
                                                <p>کمپرس توحید</p>
                                                <div class="tools tools-bottom">
                                                    <a href="http://kompresstohid.ir" target="blank"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p><strong><a href="http://kompresstohid.ir" target="blank">کمپرس توحید</a></strong></p>
                                            <p>طراحی شده توسط گروه افق فردا</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-55">
                                    <div class="thumbnail">
                                        <div class="image view view-first">
                                            <img style="width: 100%; display: block;" src="bundles/public/img/barber.jpg" alt="image" />
                                            <div class="mask">
                                                <p>پرتال جامع زیبایی و سلامت</p>
                                                <div class="tools tools-bottom">
                                                    <a href="" target="blank"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <p><strong><a href="#" target="blank">پرتال جامع زیبایی و سلامت</a></strong></p>
                                            <p>طراحی شده توسط گروه افق فردا</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <center>
                    <a href="#" class="btn btn-info btn-lg">مشاهده همه ی نمونه کارها</a>
                </center>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <!-- /page content -->
</section>