<div class="create-application-online-state" style="height: 403.4px;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="numbers" style="font-size: 53.2px;">16834</div>
				<div class="desc" style="font-size: 21.28px;">اپلکیشن آنلاین ساخته شده</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="numbers" style="font-size: 53.2px;">4</div>
				<div class="desc" style="font-size: 21.28px;">اپلیکیشن در حال طراحی</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<div class="numbers" style="font-size: 53.2px;">7</div>
				<div class="desc" style="font-size: 21.28px;">اپلیکیشن ساخته شده</div>
			</div>
		</div>
		<div class="text hidden-xs" style="font-size: 21.28px;">اگر هنوز وبسایت یا شرکت شما اپلیکیشن ندارد</div>
		<div class="buttons">
			<a href="http://appwizard.ir/news-application/start/" title="طراحی ساخت آنلاین اپلیکیشن اندروید android" class="startfree animate0-3">رایگان شروع کنید</a>
			<span> یا </span>
			<a href="http://appwizard.ir/%D8%B3%D9%81%D8%A7%D8%B1%D8%B4-%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%A7%D9%BE%D9%84%DB%8C%DA%A9%DB%8C%D8%B4%D9%86/" class="dedicated animate0-3" title="طراحی اپلیکیشن اندروید">اختصاصی سفارش دهید</a>
		</div>
	</div>
</div>

<section class="row service" id="service">
    <div class="container">
        <h1>ما چه می کنیم</h1>
        <center style="font-size: 22px">
            شرکت توسعه فن‌آوری آرمانگرایان

            شرکت توسعه فن آوری آرمانگرایان با رویکرد کاربردی سازی تلفن ها و تبلت های هوشمند، استراتژی بلند مدت خود را تعریف نموده است. این رویکرد باعث شده است در مدت کوتاهی صنایع و مشاغل گوناگون را جذب خود نموده و برای آنها راهکارهای مناسب سازمانی ارائه نماییم. 
            فهرست مشتریان ما بیانگر این است که جامعه ما به صورت پویا درحال سیر تکاملی به سوی استفاده از تکنولوژی های نوین می باشد. 
            جامعه ای که به دنبال رفع نیازهای خود از طریق تلفن ها و تبلتهای هوشمند است و شرکت آرمانگرایان با نگرشی هوشمندانه پرچم دار این تحول بوده و به صورت مستمر در حال تقویت دانش کارشناسان خود در حوزه علوم جدید و به روز دنیاست تا از این طریق بتواند پاسخگوی نیازهای این جامعه در حال تکامل باشد. 
            محصولات تولید شده در آرمانگرایان نگرش و دیدگاه متفاوت ما را در خصوص کاربرد تلفنهای هوشمند نشان داده و بیان میکند که تلفنهای هوشمند تنها ابزار سرگرمی نیست و آنها کامپیوترهای قدرتمندی هستند که با امکاناتی به مراتب بیشتر به سادگی قابل حمل هستند.شرکت آرمانگرایان این افتخار را دارد که با دانش فنی همکاران خود در داخل مجموعۀ آرمانگرایان از این امکانات و تکنولوژی ها در جهت خدمت رسانی به مشتریان خود بهره برده و نرم افزارهایی کامل و کارآمد تولید نماید.

            امروزه تلفنهای هوشمند خصوصی ترین وسیله هر فرد و نزدیکترین وسیله به اوست و ما آگاهانه از این فرصت بوجود آمده برای خدمت رسانی به جامعه استفاده کردیم و قدم در راه تولید کاربردی ترین نرم افزارها برای این منظور گذاشتیم.
        </center>
    </div>
</div>
</section>
<img src="bundles/public/img/shadow1.png" width="100%" class="img img-responsive">



<div class="some-applications">
	<div class="cap"><h3>برخی اپلیکیشن های ساخته شده</h3></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 item">
				<div class="app"><div class="drmizaj"></div></div>
				دکتر مزاج
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 item">
				<div class="app"><div class="behinesazi"></div></div>
				بهینه سازی مصرف سوخت
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 item">
				<div class="app"><div class="kafshdoozak"></div></div>
				کفشدوزک
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 item">
				<div class="app"><div class="lg"></div></div>
				آکادمی گلدایران
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 item">
				<div class="app"><div class="sevencharge"></div></div>
				سون شارژ
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 item">
				<div class="app"><div class="carbuy"></div></div>
				کاربای
			</div>
		</div>
	</div>
	<div class="show_more">
		<a title="نمونه طراحی اپلیکیشن" href="http://appwizard.ir/%D9%86%D9%85%D9%88%D9%86%D9%87-%DA%A9%D8%A7%D8%B1-%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%A7%D9%BE%D9%84%DB%8C%DA%A9%DB%8C%D8%B4%D9%86-%D8%A7%D9%86%D8%AF%D8%B1%D9%88%DB%8C%D8%AF/">مشاهده نمونه های طراحی اپلیکیشن</a>
		<a class="full" title="سفارش طراحی" href="http://appwizard.ir/%D8%B3%D9%81%D8%A7%D8%B1%D8%B4-%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%A7%D9%BE%D9%84%DB%8C%DA%A9%DB%8C%D8%B4%D9%86/">سفارش طراحی</a>
	</div>
</div>

<!--<div class="facts-block content content-center" id="facts-block">
        <h2>ما چگونه کار میکنیم ؟</h2>
        <section id="process" class="section-content">
            <div class="container">
                <div class="row">
                    <ol class="process-flow list-unstyled">
                        <li class="active">
                            <div class="process-node active">
                                <img src="images/prototype.png">
                            </div>
                            <h4>Prototype</h4>
                            <p>نمونهٔ اوّلیّه یک مدل است که برای آزمایش مفهوم یا فرایند یک چیز شبیه سازی شده است.</p>
                            <div class="line active">
                                <div class="progress"></div>
                            </div>
                        </li>
                        <li class="active">
                            <div class="process-node active">
                                <img src="images/ux.png">
                            </div>
                            <h4>UX</h4>
                            <p>تجربهٔ کاربری شامل رفتارها و احساسات یک کاربر دربارهٔ استفاده از یک اپلیکیشن است.</p>
                            <div class="line active">
                                <div class="progress"></div>
                            </div>
                        </li>
                        <li class="active">
                            <div class="process-node active">
                                <img src="images/ui.png">
                            </div>
                            <h4>UI</h4>
                            <p>واسط کاربر، بخش دیدنی و قابل لمس یک ابزار است که کاربر مستقیماً با آن سر و کار دارد.</p>
                            <div class="line active">
                                <div class="progress"></div>
                            </div>
                        </li>
                        <li class="active">
                            <div class="process-node active">
                                <img src="images/program.png">
                            </div>
                            <h4>Programming</h4>
                            <p>مرحله ای که برنامه نویسان ما شروع به برنامه نویسی اپلیکیشن مورد نظر می کنند.</p>
                            <div class="line active">
                                <div class="progress"></div>
                            </div>
                        </li>
                        <li class="">
                            <div class="process-node">
                                <img src="images/admin.png">
                            </div>
                            <h4>Admin</h4>
                            <p>با ارایه پنل ادمین می توانید محتویات را از طریق سایت کنترل کنید</p>
                            <div class="line">
                                <div class="progress"></div>
                            </div>
                            <div class="line1">
                                <div class="progress"></div>
                            </div>
                        </li>
                        <li class="">
                            <div class="process-node">
                                <img src="images/test.png">
                            </div>
                            <h4>Test</h4>
                            <p>در این بخش اپلیکیشن برای ازمایش ارایه می شود که ان را تایید کند.</p>
                            <div class="line">
                                <div class="progress"></div>
                            </div>
                        </li>
                        <li class="">
                            <div class="process-node"><i class="fa fa-flash"></i>
                            </div>
                            <h4>Debugging</h4>
                            <p>در این مرحله تمام قسمت های برنامه توسط برنامه نویس بررسی می شود و در صورت مشکل برطرف می شود.</p>
                            <div class="line1">
                                <div class="progress"></div>
                            </div>
                        </li>
                        <li class="publish">
                            <div class="process-node"><i class="fa fa-rocket"></i>
                            </div>
                            <h4>Publish</h4>
                            <p>مرحله پایانی که اپلیکیشن برای استفاده منتشر می شود.</p>
                        </li>
                    </ol>
                </div>
            </div>
        </section>
    </div>-->