<section class="why" id="why">
   
    <div class="margin_10">
         <h1>همواره در شکل گیری کسب کار شما همراهتان هستیم.</h1>
        <div class="col-lg-4 col-md-12">
            <div class="col-lg-2 test">
                <i class="fa fa-pagelines fa-5x" ></i>
            </div>
            <div class="col-lg-8">
                <h2>
                    پیاده سازی  
                </h2>
                
                با تمام تلاش سعی می کنیم مدل تولید شمارا تبدیل به واقعیت کنیم.
            
            </div>
        </div>


        <div class="col-lg-4 col-md-12">
            
            <div class="col-lg-2 test">
                <i class="fa fa-mobile fa-5x" ></i>
            </div>
            
            <div class="col-lg-8">
                <h2>
                    طراحی و تخمین
                </h2>

                با اعتماد به متخصصان ما کسب و کار خود را مدل کنید.
                
            </div>
            
        </div>


        <div class="col-lg-4 col-md-12">
             <div class="col-lg-2 test">
                <i class="fa fa-star fa-5x" ></i>
            </div>
            <div class="col-lg-8">
                <h2>
                    تحلیل و مشاوره  
                </h2>

               با استفاده از تجربیات و دانسته های محدود خود کمک می کنیم تا کسب و کار خود زودتر و بهتر به بار نشیند.
                
            </div>
        </div>
         <p>&nbsp;</p>
    </div>
</section>